:host {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background: var(--colorNeutralBackground1);
    border-right: 1px solid var(--colorNeutralStroke1);
    height: 100%;
    overflow: hidden;
}