#splash-page {
    z-index: 99999 !important;
}

#splash-page .bar {
    width: 100%;
}

.page-splash {
    z-index: 99999 !important;
    position: fixed !important;
    display: table !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: .9;
    pointer-events: auto;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    /* -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear; */
}

.page-splash-message {
    display: table-cell;
    vertical-align: middle !important;
    margin: 0 auto;
    text-align: center;
}


.page-splash-message.page-splash-message-subtle {
    margin: 30% auto 0 auto;
    font-size: 200%;
}