<header id="app-header" class="app-header">
    <button class="app-header__toggle" aria-label="Toggle sidebar" title="Toggle sidebar">
        <img src="images/icon-menu.svg" width="20" height="20" alt="" />
    </button>
    <div class="app-header__brand">
        <img class="app-header__logo" src="images/icon-logo.svg" width="28" height="28" alt="Contoso Chat logo" />
        <span class="app-header__title">Contoso Chat</span>
    </div>
    <button class="app-header__new-chat" aria-label="New chat" title="New chat">
        <img src="images/icon-plus.svg" width="20" height="20" alt="" />
    </button>
</header>